body{
    font-family: 'roboto','Noto Sans TC','Microsoft JhengHei', sans-serif;
    line-height: 1.5;
}

img{
    max-width: 100%;
    height: auto;
	vertical-align: middle;
}

*,*:before,*:after {
    box-sizing:border-box;
  }

a{
	text-decoration: none;
}



