.footer{
    a{
        color: inherit;
        
    }
    .bottom_nav ,.bottom-sub-nav{
        a{
            position: relative;
            &::after{ @include a-underline;}  //設定下底線
            &:hover::after{@include a-underline_hover;}  //設定下底線
        }
    }

    .contact{
        font-size: $font-base*2.25; //36
        span{
            margin-right: $spacing-base*5.5; //22
        }
    }

    .bottom-sub-nav{
        border-top: 1px solid $color-light;
    }

    @include pad(){
        .social-media{
            font-size: $font-lg;
        }

        .contact{
            font-weight: $fw-regular;
            font-size: $font-md;
            span{
                margin-right: 11px;
            }
        }
    }

    @include mobile(){
        .bottom_nav{
            display: none;
        }
        .contact{
            order: 1;
            font-size: $font-base;
        }
        .social-media{
            order: 2;
        }
        .bottom-sub-nav{
            font-size: $font-xs;
        }

    }

}