.header{
   background: map-get($colors, primary);
   padding:14px 40px;
}

.logo{
    a{
      background:url(../images/logo.png) center center no-repeat;
      width: 80px;
      height: 80px;
      margin-left: $spacing-base*12;  //48
      @include text-hiden;

      @include pad(){
         margin-left: 0;
      }
   }
}



.nav{


   li {
      margin-right: $spacing-base*12; //48
      text-align: center;

      @include pad(){
         margin-right: 0;
         margin-left: $spacing-base*10; //10
      }

      a{
         //color: map-get($colors, light);
         color:inherit;
         font-size: $font-md;
         display: block;
         padding-top: 30px;
         padding-bottom: 30px;
         position: relative;
      } 

      
      a::after{
         @include a-underline;
         bottom: 10px; // 指定位置
      }

      a:hover::after{
         @include a-underline_hover;
      }
   }
    

}