.container{
    max-width: 1140px; // 1110 + 30 gutter
    margin: 0 auto;
    padding: 0 ($grid-gutter-width / 2);
  
    @include pad(){ // 690 + 30 gutter
      max-width: 720px;
    }
    @include mobile(){
      max-width: 405px; //375 + 30 gutter
    }
  }

.page-container{
    margin-top: $spacing-base * 24; 
    margin-bottom: $spacing-base * 32;
    @include pad(){
      margin-top: $spacing-base * 15;
      margin-bottom: $spacing-base * 19;
    }
    @include mobile(){
      margin-top: $spacing-base * 7;
      margin-bottom: $spacing-base * 10;
    }
}
  
/* 欄位 */
.col-p{
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
}

.col-m{
  margin-left: $grid-gutter-width/2;
  margin-right: $grid-gutter-width/2;
}

@each $name, $color in $cols {
  .col-#{$name} {
    width:$color;
  }
}
@include pad(){
  @each $name, $color in $cols {
    .col-md-#{$name} {
      width:$color;
    }
  }
}

@include mobile(){
  @each $name, $color in $cols {
    .col-sm-#{$name} {
      width:$color;
    }
  }
}

.mx-none{
  margin-left: -15px;
  margin-right: -15px;
}

.px-none{
  padding-left: -15px;
  padding-right: -15px;
}

@include pad(){
  .col-mb-p{
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
  }
  .mx-md-none{
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .px-md-none{
    padding-left: -15px;
    padding-right: -15px;
  }
}
@include mobile(){
  .mx-sm-none{
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .px-sm-none{
    padding-left: -15px;
    padding-right: -15px;
  }
}
