/* 設定hover效果- 下底線展開 */
@mixin a-underline{
        content:'';
        background: lightten(map-get($colors, light),0%); 
        position: absolute; //讓底線位置能指定
        left: 50%; // 指定位置，置中用 為了之後動態展開的位置
        transform: translateX(-50%); //置中用 為了之後動態展開的位置
        display: block;
        width: 100%; //讓寬度跟a一樣
        max-width: 0px; // 再強制 max-width 為 0px
        height: 1px;
        bottom: -5px;
        transition: all 0.3s ease; // 動態效果
        @content;
}

@mixin a-underline_hover{
    background-color:map-get($colors, light);
    max-width: 100%; // 解放max-width
    @content;
}

/* hover效果 - 透明度 */
@mixin a-hover_opacity{
    opacity: 0.7;
    transition: all 0.5s ease;
    @content;    
}

@mixin a_transition{
    transition: all 0.5s ease;
    @content;
}

/* 背景混和遮罩 */
@mixin bg-mask{
    transition: all 0.5s ease-out;
    background-color: rgba(255, 255, 255, 0.5);  //遮罩
    background-blend-mode: screen; //背景混和模式
    background-size: cover;
    background-position: center center;
    @content;
}

/* 圖片取代文字 */
@mixin text-hiden{
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

