/*-- size --*/
.h-100{height: 100%;}
.w-100{width: 100%;}

/*-- 置中 --*/
.m0a{ margin: 0 auto;}

/*--間距--*/
 
@each $name, $color in $spacings {
    // margin-all
    .ml-#{$name} { margin-left:$color;}
    .mr-#{$name} { margin-right:$color;}
    .mt-#{$name} { margin-top:$color;}
    .mb-#{$name} { margin-bottom:$color;}
    
    //padding-all
    .pl-#{$name} { padding-left:$color; }
    .pr-#{$name} { padding-right:$color;}
    .pt-#{$name} { padding-top:$color;}
    .pb-#{$name} { padding-bottom:$color;}

    //desktop only
}
@each $name, $color in $spacings {
    @include desktop-only(){
        // margin-desktop
        .ml-lg-#{$name} { margin-left:$color;}
        .mr-lg-#{$name} { margin-right:$color;}
        .mt-lg-#{$name} { margin-top:$color;}
        .mb-lg-#{$name} { margin-bottom:$color;}
        
        //padding-desktop
        .pl-lg-#{$name} { padding-left:$color; }
        .pr-lg-#{$name} { padding-right:$color;}
        .pt-lg-#{$name} { padding-top:$color;}
        .pb-lg-#{$name} { padding-bottom:$color;}

    }
}
@each $name, $color in $spacings {
    //pad only
    @include pad(){
        // margin-pad
        .ml-md-#{$name} { margin-left:$color;}
        .mr-md-#{$name} { margin-right:$color;}
        .mt-md-#{$name} { margin-top:$color;}
        .mb-md-#{$name} { margin-bottom:$color;}
        
        //padding-pad
        .pl-md-#{$name} { padding-left:$color; }
        .pr-md-#{$name} { padding-right:$color;}
        .pt-md-#{$name} { padding-top:$color;}
        .pb-md-#{$name} { padding-bottom:$color;}
    }
}
@each $name, $color in $spacings {
    //mobile only
    @include mobile(){
        // margin-mobile
        .ml-sm-#{$name} { margin-left:$color;}
        .mr-sm-#{$name} { margin-right:$color;}
        .mt-sm-#{$name} { margin-top:$color;}
        .mb-sm-#{$name} { margin-bottom:$color;}
        
        //padding-mobile
        .pl-sm-#{$name} { padding-left:$color; }
        .pr-sm-#{$name} { padding-right:$color;}
        .pt-sm-#{$name} { padding-top:$color;}
        .pb-sm-#{$name} { padding-bottom:$color;}
    }
}

@include pad(){
    .m-md-0-all { margin: 0 !important; }
    .p-md-0-all { padding: 0 !important; } 
}
  
@include mobile(){
    .m-sm-0-all { margin: 0 !important; }
    .p-sm-0-all { padding: 0 !important; }
}



.outbox{
    padding-top: $spacing-base*15; //60
    padding-bottom: $spacing-base*20;  //80

    @include pad(){
        padding-top: $spacing-base*10;  //40
        padding-bottom: $spacing-base*14;  //56
    }

    @include mobile(){
        padding-top: $spacing-base*8;  //40
        padding-bottom: $spacing-base*10;  //56
    }
}