/* 變數 */
//顏色 

$color-primary: #AA0601;
$color-secondary: #650300;
$color-light: #fff;
$color-black: #000;
$color-primary-light:#AA06010D;
$color-gray: #212529;

$colors:(
    primary: $color-primary,
    secondary: $color-secondary,
    light: $color-light,
    black: $color-black,
    primary-light:$color-primary-light,
    gray: $color-gray
);


//文字尺寸
$font-base: 1rem;   //16
$font-xs: 0.875rem; //14
$font-md: 1.25rem;  //20
$font-lg: 1.5rem;   //24
$font-xl: 2rem;     //32
$font-2xl: 3rem;    //48
$font-3xl: 4rem;     //64

// 字重
$fw-light: 300; //light
$fw-regular: 400; //regular
$fw-medium: 500; //Medium
$fw-DemiBold: 600; //Semi Bold (Demi Bold)
$fw-bold: 700; //Bold
$fw-black: 900; //Black (Heavy)


// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$col:1/12*100% ; // 100/12=8.33333333

$cols:(
  1:$col*1,
  2:$col*2,
  3:$col*3,
  4:$col*4,
  5:$col*5,
  6:$col*6,
  7:$col*7,
  8:$col*8,
  9:$col*9,
  10:$col*10,
  11:$col*11,
  12:$col*12
);

/*-- 間距 一單位為4px --*/
$spacing-base:4px;
$spacings:(
    0:0 !important,
    1:$spacing-base*1,   //4
    2:$spacing-base*2,   //8
    3:$spacing-base*3,   //12
    4:$spacing-base*4,   //16
    5:$spacing-base*5,   //20
    6:$spacing-base*6,   //24
    7:$spacing-base*7,   //28
    8:$spacing-base*8,   //32
    9:$spacing-base*9,   //36
    10:$spacing-base*10, //40
    11:$spacing-base*11, //44
    12:$spacing-base*12, //48
    15:$spacing-base*15, //60
    20:$spacing-base*20  //80
);

